.badgebg-red {
  background:red;
  border-radius:10px;
}

.badgebg-blue {
  background:blue;
  border-radius:10px;
}

.badgebg-green {
  background:green;
  border-radius:10px;
}

.badgebg-yellow {
  background:yellow;
  border-radius:10px;
}

.badgebg-black {
  background:black;
  border-radius:10px;
}

.highlight {
  opacity: 0.5;
  background:white;
}