div.tile {
  height:200px;
  width:200px;

  &.Forest {
    background-image: url('./images/tiles/forest200.png');
  }
  &.Plains {
    background-image: url('./images/tiles/plains200.png');
  }
  &.Sea {
    background-image: url('./images/tiles/sea200.png');
  }
  &.Rock {
    background-image: url('./images/tiles/rock200.png');
  }
}

